/* GLOBAL STYLES
-------------------------------------------------- */
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

/* Padding below the footer and lighter body text */
body {
  padding-top: 10px;
  padding-bottom: 3rem;
  color: #000;
  font-family: Hind;
  /*background: url(http://griddle.it/1200-3-30) repeat-y center top*/
}

.mb-8 {
    margin-bottom: 6rem!important;
}

.btn-primary {
  background: #e2b104 !important;
  border: none;
  border-radius: 20px;
  cursor:pointer;
}

.shadow {
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.4);
}

/* Stackoverflow preview fix, please ignore */
.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

/* Fixes dropdown menus placed on the right side */

.menu-axl {
  position: absolute;
  right: 1em;
  top: 25px;
}
.menu-axl a {
  font-size: 16px;
  font-weight: normal;
  color: #99a59a;
}

p.title-head {
  font-size: 36px;
  font-weight: 300;
  color:#141414;
}

.bg-dark {
  background-color: #99a59a
}
.nav-item.active {
  text-decoration: underline;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* tratamento CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.tratamento .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
} 
.tratamento h2 {
  font-weight: normal;
}
.tratamento .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.card-title {
  font-size: 24px;
  font-weight: 300;
}

.card-img-overlay {
  height: 25%;
  opacity: 0.7;
  background-color: #000000 !important;
  top: auto;
}

.historia {
  margin-bottom: 1.5rem;
}
.historia p {
  font-size: 18px;
  font-weight: 300;
}

h2.title-row {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  border-color: #fff
}

.featurette {
  background: url(../img/bg.png) no-repeat bottom left;
}
.featurette.tratamento {
  background: url(../img/bg2.png) no-repeat bottom left;
}
.featurette.contato {
  background: url(../img/bg-contato.png) no-repeat bottom right;
  height: 500px;
}

.featurette.equipe {
  background: url(../img/bg-contato.png) no-repeat top left;
  height: 440px;
}
.featurette.equipe2 {
  background: none;
  min-height: 400px;
  height: auto;
}
.featurette.form {
  background: none;
}

.menu-tratamento{
  height: auto;
  border-bottom: 1px solid #ececec;
}

.menu-tratamento ul {
  display: inline;
  width: 100%;
  text-align: center;
}
.menu-tratamento ul li {
  display: inline-block;
  margin: 15px 1.25rem 0;
  position: relative;
}
.menu-tratamento ul li a {
  font-family: Hind;
  font-size: 12px;
  text-align: center;
  color: #3c3c3c;

}
.menu-tratamento ul li.active::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -24px;
  height: 5px;
  background: #000;
  left: 0;
}

/* Thin out the tratamento headings */
.featurette-heading {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.lead {
  font-size: 18px;
  font-weight: 300;
  color: #3c3c3c;
}
.tratamento .featurette-heading {
  font-size: 32px;
  font-weight: bold;
  color: #3c3c3c;
}
.contato .featurette-heading {
  font-size: 28px;
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
}

.equipe .featurette-heading {
  font-size: 28px;
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
}
.equipe  .featurette-image {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  top: 240px;
  position: absolute;
}
.adress {
  position: absolute;
  bottom: 60px;
  left: 0;
}

.equipe-text {
  position: absolute;
  top: 60px;
}
.equipe-text span {
  font-size: 20px;
  font-weight: normal;
}

.equipe-text p {
  font-size: 18px;
  font-weight: 300;
}

.nav-equipe {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 70px;
  list-style: none;
  padding: 0;
}
.nav-equipe li {
  float: left;
  position: relative;
  height: 70px;
  width: 85px;
  text-indent: 9999em;
  cursor: pointer;
}
.nav-equipe li.prev {
  background: url(../img/seta-esq.png) no-repeat 0 0;
}
.nav-equipe li.next {
  background: url(../img/seta-dir.png) no-repeat 0 0;
}

.equipe .adress {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  left: auto;
  top: 60px;
}
.contato p {
  color:#fff;
}

.form-group {
    margin-bottom: 2.5rem !important;
}

.form-control {
  border: 1px solid #d8d8d8;
  border-radius: 0 !important;
  border-width: 0 0 1px 0 !important;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: .5rem .75rem .5rem 0 !important;
}

.menu-footer {
  height: 170px;
}

.menu-footer a {
  color:#fff;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}  
.footer p{
  font-size: 14px;
  font-weight: normal;
  color: #3c3c3c;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 991px) {
  .container {
    width: 100%;
  }
  .nav-top-princ {
    height: auto;
  }
  .navbar-toggler-icon {
    background: url(../img/menu.png) no-repeat center center;
  }
  .title-head {
    display: none
  }
  .navbar-nav {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
  .nav-item {
    display: inline-block;
    text-align: center;
  }
  h2.title-row {
    text-align: left !important;
  }
  .historia p {
    text-align: left !important
  }
  .card-mobile{
    position: absolute;
  }
  .cards {height: 330px}

  .featurette {
    background: url(../img/bg.png) no-repeat -100px 30px;
  }
  .featurette.contato {
    background: url(../img/bg-contato.png) no-repeat center bottom;
    height: 500px;
    background-size: 100% 50%;
  }
  .featurette.equipe {
    background: url(../img/bg-contato.png) no-repeat center top;
    height: 500px;
    background-size: 100% 50%;
  }
  .adress {
    position: absolute;
    bottom: 20px;
    left: 15px;
  }
  .equipe .adress {
    color: #fff;
    font-size: 18px;
    left: auto;
    top: 20px;
  }
  .equipe .featurette-image {
    top: -40px;
    position: absolute;
    left: auto;
  }
}
